.w{
    width: 1200px;
    margin: 0 auto;
}
/* 此时要注意路径的变化 */
@font-face {
    font-family: 'iconfont';  /* Project id 3281719 */
    src: url('https://at.alicdn.com/t/font_3281719_v7gr2kbm0ls.woff2?t=1648444817408') format('woff2'),
         url('https://at.alicdn.com/t/font_3281719_v7gr2kbm0ls.woff?t=1648444817408') format('woff'),
         url('https://at.alicdn.com/t/font_3281719_v7gr2kbm0ls.ttf?t=1648444817408') format('truetype');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.fl{
    float: left;;
}
.fr{
    float: right;
}
.style_red{
    color: #c81623;
}
/* 版心 */
.shortcut{
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}
.shortcut ul li{
    float: left;
    
}
/* 选择所以偶数li */
.shortcut .fr ul li:nth-child(even){
width: 1px;
height: 12px;
background-color: #666;
margin: 9px 15px 0;
}
.arrow-icon::after{
    content:'\e669';
    font-family:"iconfont";
    margin-left:6px;
     vertical-align: middle; 
}
.header{
    position: relative;
    height: 105px;
  
}
.logo{
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
   
}
.logo a{
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    /* font-size: 0; 京东做法 */
    /* 文字有搜索权重 需要文字但要将文字隐藏 */
    text-indent: -999px;
    overflow: hidden;
}
.search{
    position: absolute;
    left: 360px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}
.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
    /* 使文字有边距 */
}
.search button{
    float: right;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    color: white;
    font-size: 16px;
}
    .hotwords{
        position: absolute;
        left: 360px;
        top: 66px;
}
.hotwords a{
    margin: 0 10px;
    /* 行内元素可以有左右的margin值 */
}
.shopcar{
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}
.shopcar::before{
    content: '\e60f';
    font-family:"iconfont";
    margin-right: 7px;
    color: #b1191a;
}
.shopcar::after{
    content: '\e8cf';
    font-family:"iconfont";
    margin-left: 8px;
}
.count{
   
    position: absolute;
    top: -5px;left: 105px;
    /* 不要给宽度 件数不确定 让数字撑开就好 */
    height: 14px;
     /* 行高会继承 */
     line-height: 14px;
    color: white;
    background-color: #e60012;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
}
.nav{
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.nav .dropdown{
    float: left;
    height: 45px;
    width: 210px;
    background-color: #b1191a;
}
.nav .navitems{
    float: left;
}
.dropdown .dt{
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}
.dropdown .dd{
    /* display: none; */
    width: 210px;
    height: 465px;
    /* 父元素设置了固定高度 不会撑开会溢出 */
    background-color: #c81623;
 
}
.dropdown .dd ul li{
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
   
}
.dropdown .dd ul li:hover{
    background-color: white;
}
.dropdown .dd ul li::after{
    position: absolute;
    right: 10px;
    top: 1px;
    content: '\e8cf';
    font-family:"iconfont";
    color: white;
font-size: 14px;
}
.dropdown .dd ul li a{
    font-size: 14px;

    color: white;
    /* 考虑以后向表中添加内容，而且后面还有个三角。所以不要居中。不然空间不够 */
}
.dropdown .dd ul li:hover a{
    /* 代表鼠标经过li a变化 */
    color: #c81623;
}
.navitems ul li{
    float: left;
}
.navitems ul li a{
    display: block;
    /* 浮动属性不具备继承特性 但此时a被限制在li里面了 所以此时要转换（因为要设置高度） */
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 25px;
    /* 要给a padding 因为扩大a的范围，鼠标经过的范围扩大 */
}
.footer{
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service{
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li{
    float: left;
width: 300px;
height: 50px;

padding-left: 35px;
}
.mod_service ul li h5{
    float: left;
    /* 元素浮动 文字环绕 */
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background:url(../images/icons.png) no-repeat -252px -3px;
}
.service_txt h4{
font-size: 14px;
}
.service_txt p{
    font-size: 12px;
}
.mod_help{
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}
.mod_help dl dt{
    font-size: 16px;
    margin-bottom: 10px;
}
.mod_help dl{
    float: left;
    width: 200px;
}
.mod_help dl:last-child{
    width: 100px;
    text-align: center;
}
.mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.links{
    margin-bottom: 15px;
}
.links a{
    padding: 0 4px;
  
}
.copyright{
    line-height: 20px;
}