@font-face {
    font-family: 'iconfont';  /* Project id 3281719 */
    src: url('https://at.alicdn.com/t/font_3281719_ggz4ni9g9v4.woff2?t=1648620598386') format('woff2'),
         url('https://at.alicdn.com/t/font_3281719_ggz4ni9g9v4.woff?t=1648620598386') format('woff'),
         url('https://at.alicdn.com/t/font_3281719_ggz4ni9g9v4.ttf?t=1648620598386') format('truetype');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.main{
    width: 980px;
    height: 455px;
margin-top: 10px;
    margin-left: 220px;
}
.focus{
    float: left;
width: 721px;
height: 455px;
background-color: aqua;
}
.newsflash{
    float: right;
width: 250px;
height: 455px;

}
.news{
    height: 165px;
    border: 1px solid #e4e4e4;
  
}
.news_hd{
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news_hd h5{
    float: left;
    font-size: 14px;
}
.news_hd .more{
    float: right;
}
.news_hd .more::after{
    content:'\e669';
    font-family:"iconfont";
    margin-left:3px;
}
.lifeservice{
    overflow: hidden;
    height: 209px;
   border: 1px solid #e4e4e4
    ;
    border-top: 0;
}
.lifeservice ul{
    width: 252px;
    /* 要加宽ul的宽度 使得能ul装下浮动的盒子
    也可以li的宽度变成25% 或者 nth-child（4n）调整宽度*/
}
.lifeservice ul li{
    float: left;
    width: 63px;
    text-align: center;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.lifeservice ul li i{
    display: inline-block;
    height: 28px;
    width: 24px;
margin-top: 12px;
    background:url(../images/icons.png) -19px -15px
    /* ps坐标是多少 就-多少 */
    ;
}
.bargin{
    margin-top: 5px;
    
}
.bargin img{
    width: 100%;
    height: 77px;
}
.news_bd{
    padding: 5px 15px 0;
}
.news_bd ul li{
height: 24px;
line-height: 24px;
/* 使文字的溢出部分用省略号显示 */
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.recom{
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}
.recom_hd{
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    color: white;
    padding-top: 30px;
}
.recom_bd{
 float: left;
}
.recom_bd ul li{
    position: relative;
    float: left;

}
.recom_bd ul li img{
    height: 163px;
    width: 248px;
}
/* .recom_bd ul li:nth-child(-n+3)::after{
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
} */
/* 给li加隔绝线  只给前三个添加*/
.fav{
    height: 263px;
    margin-top: 30px;
    margin-bottom: 10px;
 
}
.fav_hd{
    height: 30px;
}
.fav .guess{
    float: left;
    font-size: 18px;
    color: #5d5d5d;
}
.fav .tran{
    float: right;
    font-size: 12px;
    width: 100px;
    text-align: center;
    padding-top: 8px;
 
}
.fav .tran::after{
    content:'\e661';
    font-family:"iconfont";
    font-size:  14px;
    margin-left:5px;

}
.fav_bd{
    border: 1px solid #ebebeb;
    height: 233px;
}
.fav_bd ul{
    height: 233px;width: 1230px;
}
.fav_bd li{
  float: left;
    width: 200px;
    text-align: center;
    height: 233px;
}
.fav_img{
   padding-top: 25px;
   padding-left: 16px;
    width: 205px;
height: 160px;
}
.fav_hh{
    padding-left: 30px;
    height: 44px;
    text-align: center;
    letter-spacing: 1px;
 padding-top: 3px;
    font-size: 12px;
}
.fav_bb{
    height: 29px;
    font-size: 18px;
    color: #df3033;
}
.box_hd{
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box_hd h3{
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}
.tab_list{
    float: right;
    line-height: 30px;
}
.tab_list ul li{
    float: left;
}
.tab_list ul li a{
    margin: 0 15px;
    /* 要给a mardin */
}
.floor .w{
    margin-top: 30px;
}
/* floor不给高度 具体楼层给高度 */
.box_bd{
height: 361px;
}
/* 子代选择器 */
.tab_list_item>div{
    float: left;
    height: 361px;
}
.col_210{
    width: 210px;
    text-align: center;
    background-color: #f9f9f9;
}
.col_210 ul{
    padding-left: 12px;
}
.col_210 ul li{
    float: left;
    width: 85px;
    height: 34px;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
}
.col_329{
    width: 329px;
}
.col_221{
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_219{
    width: 219px;
}
.bb{
    /* 一般情况下，a包含有宽度的盒子 需要转换为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}