.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo{
    padding-top: 18px;
    /* 此时不能使用margin top 会产生外边距合并的问题 */
}
.registerarea{
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3{
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.login{
    float: right;
    font-size: 14px;
}
.reg_form{
    width: 600px;

    margin: 50px auto 0;
}
.reg_form ul li{
    margin-top: 20px;
}
.reg_form ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li .inp{
    width: 242px;
    height: 37px;
    text-indent: 1px;
    border: 1px solid #ccc;
}
.err{
    color: #c81523;
}
.err_icon,.suc_icon{
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    width: 20px;
    height: 20px;
    background: url(../images/矩形8.png);
}
.success{
    color: green;
}
.suc_icon{

    background: url(../images/对勾.png);
}
/* em是强调标签 html中可以有一个空格显示，但是多个空格就需要&nbsp了 */
.safe em{
    padding: 0 12px;

    color: white;
}
.safe .ruo{
    background-color: #de1111;
}
.safe .zhong{
    background-color: #40b83f;
}
.safe .qiang{
    background-color: #f79100;
}
.safe{
    padding-left: 170px;
}
.agree{
    padding-left: 95px;
}
.agree input{
    vertical-align: middle;
}
.agree a{
    color: #1ba1e6;
}
.btn{
    width: 200px;
    height: 34px;
    background-color: #c81523;
    color: white;
    font-size: 14px;
    margin: 30px 0 0 70px;
}
.copyright{
    line-height: 20px;
}
.mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.links{
    margin-bottom: 15px;
}
.links a{
    padding: 0 4px;
  
}